html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/9d/9f/d1/9d9fd1e40f9ddcac105b3c99766db95a.gif");
    background-size: cover;
    filter: blur(8px);
    background-position-y: 50%;
    background-position-x: 50%;
}

.player {
    background-color: rgba(230, 168, 200, 0.8);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 350px;
    width: 400px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.3);
}

.row1 {
    height: 40%;
    width: 100%;
    background-image: url("https://i.pinimg.com/originals/36/f0/4d/36f04de1adb760fd1795c8bd6602aeb3.gif");
    background-size: cover;
    background-position-y: 37%;
}

#songTitle {
    height: 10%;
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    color: #5d5dff;
}

.row2 {
    height: 50%;
    width: 100%;
    background-color: rgba(0, 230, 230, 0.8);
}

.play {
    height: 20%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

#pre {
    width: 25px;
    height: auto;
    background-size: cover;
    margin-top: 20px;
}

#play {
    width: 25px;
    height: auto;
    background-size: cover;
    margin-top: 20px;
}

#next {
    width: 25px;
    height: auto;
    background-size: cover;
    margin-top: 20px;
}

.seek-bar {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.handle {
    height: 5px;
    width: 90%;
    background: linear-gradient(to right, #33aaff 0%, #ff99cc 100%);
    border-radius: 25px;
}

.fill {
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background-color: white;
    z-index: 1000;
    margin-top: -1.5px;
    margin-left: -1.5px;
}

.mute {
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.currentTime {
    height: 100%;
    width: 50%;
    margin-left: 35px;
    margin-top: -27px;
    color: blue;
}

#decrease {
    width: 25px;
    height: auto;
    background-size: cover;
    margin: 5px;
}

#mute {
    width: 25px;
    height: auto;
    background-size: cover;
    margin: 5px;
}

#increase {
    width: 25px;
    height: auto;
    background-size: cover;
    margin: 5px;
    margin-right: 15px;
}